node_modules
node_modules/**
**/node_modules
.vscode
**/dist
**/.dist
coverage
**/ysconfig.tsbuildinfo
**/*.generated.ts
**/.env.*
**/.env
.vscode/settings.json
.npmrc
packages/api/.env-dev
packages/api/.env-stage
packages/api/.env-stage-test